from pathlib import Path

BACKUP_DIR = Path('/backups/vk/')  # use whichever path you like
FAVS = BACKUP_DIR.joinpath('favs')
USER_WALL = BACKUP_DIR.joinpath('wall')

USER_ID = '<your_user_id>'
ACCESS_TOKEN = '<your_token>'